nav
  div(class="container")
    h4(class="brand") #[a(href="index.html") RM-word]
    div(class="nav-right")
      form(class="form-search" action="search.html") 
        input(type="search" placeholder="search" name="q")
        button #[i( class="fa fa-search")]
      ul(class="menu") 
        li #[a(data-link="Languages" href="languages.html") Languages]
        li #[a(data-link="Lists" href="lists.html") Lists]
        li #[a(data-link="Alphabet" href="alphabet.html") Alphabet]
        li #[a(data-link="Words" href="words.html") Words]
        li #[a(data-link="Phrases" href="phrases.html") Phrases]
        li #[a(data-link="Testing" href="testing.html") Testing]
        li #[a(data-link="Bookmarks" href="bookmark.html") Bookmarks]